@import url("https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	/* font-family: "Victor Mono", monospace; */
	font-family: "Eudoxus Sans", "Victor Mono", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

/* ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #484e5c;
}
::-webkit-scrollbar-thumb {
	background: #0bd3fd;
	opacity: 1;
} */

.br {
	border: 1px solid #690cc6;
}

html {
	scroll-behavior: smooth !important;
}
body {
	background-color: #ecf0f3;
}

/* --color-primary: color: hsl(270, 89%, 41%); #690cc6;
--color-white: color: hsl(0, 5%, 100%); #ffffff;
--color-light: color: hsl(270, 5%, 94%); #f0eff0;
--color-black: color: hsl(270, 5%, 15%); #262428;
--color-dark: color: hsl(270, 5%, 44%); #706b76; */
