@import url("https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.cdnfonts.com/css/dot-matrix");
/* @import "fonts/exodusfont.css"; */
/* @import "fonts/dotmatrix.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	/* font-family: "Victor Mono", monospace; */
	font-family: "Eudoxus Sans", "Victor Mono", sans-serif;
}

/* ::-webkit-scrollbar {
	display: none;
} */

::-webkit-scrollbar {
	width: 5px;
	height: 0;
}
::-webkit-scrollbar-track {
	background: #484e5c;
}
::-webkit-scrollbar-thumb {
	background: #0bd3fd;
	opacity: 1;
}

/* ----------------------------------------- */

/* --color-primary: color: hsl(270, 89%, 41%); #690cc6;
--color-white: color: hsl(0, 5%, 100%); #ffffff;
--color-light: color: hsl(270, 5%, 94%); #f0eff0;
--color-black: color: hsl(270, 5%, 15%); #262428;
--color-dark: color: hsl(270, 5%, 44%); #706b76; */

.br {
	border: 1px solid #690cc6;
}

html {
	scroll-behavior: smooth !important;
}
body {
	background-color: #e1f7ff;
}
.new__alert {
	font-family: "Dot Matrix", "Eudoxus Sans", sans-serif !important;
	font-weight: bold !important;
}
.other__alert {
	font-family: "Press Start 2P", sans-serif;
}

.p__alert {
	font-family: "Victor Mono", monospace;
}

.curly__name {
	font-family: "Zeyada", cursive;
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.vertical-timeline-element .vertical-timeline-element-icon {
	box-shadow: 0 0 0 4px #1d1836, inset 0 2px 0 rgba(0, 0, 0, 0.08),
		0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element .vertical-timeline-element-date {
	color: #000000;
}

@media only screen and (max-width: 1170px) {
	.vertical-timeline-element .vertical-timeline-element-date {
		color: #ffffff;
	}
}
